drone_env/bin
drone_env/include
drone_env/lib
drone_env/lib64
drone_env/share
drone_env/pyvenv.cfg
drone_env
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
mav_2_1.parm
controllers/ardupilot_vehicle_controller/__pycache__
logs

