drone_env/lib/python3.12/site-packages/wx/
drone_env/lib/python3.12/site-packages/wxpython-4.2.3.dist-info
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
mav_2_1.parm
controllers/ardupilot_vehicle_controller/__pycache__
logs