drone_env/bin
drone_env/include
drone_env/lib
drone_env/lib64
drone_env/share
drone_env/pyvenv.cfg
drone_env
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
mav_2_1.parm
controllers/ardupilot_vehicle_controller/__pycache__
RC_OVERRIDE/RC_Following/__pycache__
logs
dumpcore.sh_arducopter.23709.out
dumpstack.sh_arducopter.23709.out
mav_0_1.parm
controllers/ardupilot_vehicle_controller/__pycache__/webots_vehicle.cpython-312.pyc
RC_OVERRIDE/Square with POS_HOLD default PID/

docs/*.md
AGENTS.md
new_iteration_RC_OVERRIDE/experiment_stability/README_EXPERIMENTS.md